.section-title{
    color: var(--holly-red-color);
    margin-top: 10vh;
}

.card {
    width: 100%;
    height: 40vh;
    margin: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s, transform 0.5s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px var(--holly-red-color-transparent);
}

.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(100%) rotateX(180deg);
    opacity: 0.5;
    pointer-events: none;
}

.card-img-top {
    height: 100%;
    object-fit: cover;
}

.slide-out {
    transform: translateY(-20px);
    opacity: 0;
}

.section{
    width: 70%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}