<footer class="py-4">
    <div class="container text-center">
      <div class="row">
            <div class="col-md-4">
            <h5>À propos</h5>
            <p>
                Nous sommes de jeunes développeur de génies qui voulons avoir une bonne note au projet. SVP Mr mettez nous 20/20.
            </p>
            </div>
            <div class="col-md-4">
            <h5>Liens utiles</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="link">Une page</a></li>
                <li><a href="#" class="link">Une page</a></li>
                <li><a href="#" class="link">Une page</a></li>
                <li><a href="#" class="link" routerLink="/cgu">Conditions d'utilisation</a></li>
            </ul>
            </div>
            <div class="col-md-4">
            <h5>Contact</h5>
            <p><a class="mail-open" href="mailto:info-plan&#64;hollyplan.com">info-plan&#64;hollyplan.com</a></p>
            <p><a class="tel-open" href="tel:+1234567890">+1234567890</a></p>
            <p><a class="tel-open" routerLink="/contact">Autres informations</a></p>
            <div>
                <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
            </div>
            </div>
        </div>
        <hr class="bg-light" />
        <p class="mt-3">© 2024 Ivana Wandrille. Tous droits réservés.</p>
    </div>
</footer>
  