.navbar {
    margin-bottom: 20px;
    background-color: var(--holly-white-color);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: var(--holly-red-color);
}

.nav-link:hover {
    color: var(--holly-yellow-color);
}

.nav-item.active .nav-link {
    font-weight: bold;
    color: var(--holly-black-color);
}

.navbar-nav {
    margin-left: auto;
}

.navbar-custom-background {
    background-color: var(--holly-white-color);
    border-bottom: 1px solid var(--holly-red-color);
}