/* Styles pour le header */
.navbar {
    margin-bottom: 20px; /* Espace en bas de la barre de navigation */
    background-color: #f8f9fa; /* Fond gris */
}

.navbar-brand {
    font-size: 1.5rem; /* Taille de la police pour le nom de l'application */
    font-weight: bold; /* Mettre en gras le nom de l'application */
}

.nav-link {
    color: var(--holly-red-color); /* Utiliser la couleur définie dans styles.css */
}

.nav-link:hover {
    color: var(--holly-yellow-color); /* Couleur des liens au survol */
}

.nav-item.active .nav-link {
    font-weight: bold; /* Mettre en gras le lien actif */
    color: var(--holly-black-color); /* Couleur du lien actif */
}

/* Alignement des liens à droite */
.navbar-nav {
    margin-left: auto; /* Pousse les éléments de navigation vers la droite */
}

.navbar-custom-background {
    background-color: #063b71; /* Fond gris avec priorité */
}