.section-title{
    color: var(--holly-red-color);
}

.section-title{
    margin-top: 10vh;
}

.presentation-img{
    height: 30vh;
    object-fit: cover;
}

.carousel-control-prev{
    background-color: transparent;
    height: 30.1vh;
    width: 10vh;
}

.carousel-control-next{
    background-color: transparent;
    height: 30.1vh;
    width: 10vh;
}

.btn{
    background-color: var(--holly-red-color);
    border-color: var(--holly-red-color);
}

.carousel-section{
    width: 70%;
}

.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-inner{
    transition: transform 0.3s, box-shadow 0.3s, transform 0.5s ease;
}

.carousel-inner:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px var(--holly-red-color-transparent);
}