.section-title{
    color: var(--holly-red-color);
}

.section-title{
    margin-top: 10vh;
}

.presentation-img{
    height: 30vh;
    object-fit: cover;
}

.carousel-control-prev{
    background-color: transparent;
    height: 30.1vh;
    width: 10vh;
}

.carousel-control-next{
    background-color: transparent;
    height: 30.1vh;
    width: 10vh;
}

.btn{
    background-color: var(--holly-red-color);
    border-color: var(--holly-red-color);
}

.carousel-section{
    max-width: 70%;
}

.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}