* {
    font-family: "Poppins", sans-serif;
    background-color: var(--holly-white-color);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root{
    --holly-black-color: #333333;
    --holly-red-color: #FF6F61;
    --holly-yellow-color: #FFCC00;
    --holly-blue-color: #00BFFF;
    --holly-white-color: #FFFFFF;

    --holly-black-color-transparent: rgba(51, 51, 51, 0.7);
    --holly-red-color-transparent: rgba(255, 111, 97, 0.7);
    --holly-yellow-color-transparent: rgba(255, 204, 0, 0.7);
    --holly-blue-color-transparent: rgba(0, 191, 255, 0.7);
    --holly-white-color-transparent: rgba(255, 255, 255, 0.7);

}

.logo{
    color: var(--holly-red-color);
}